<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Le Blog</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav><h1>Le BLog</h1> <span>Homepage</span><span>Dashboard</span><span>Login</span><span>Logout</span></nav>

    {{{body}}}
    
    {{>footer}}
<!--JavaScript at end of body for optimized loading-->
</body>
</html>